{%extends 'blog/basic.html'%}

{%block body%}
<div class="container mt-3">
  <div class="row my-2">
    {% for i in blog %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{i.title}}</h3>
          <p class="card-text mb-auto my-2">{{i.head0}}<br>{{i.head1}}<br>{{i.head2}}</p>
          <a href="blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{i.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">
          <!-- <img src='/media/{{i.thumbnail}}'> -->
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2%}
  </div>
  <div class="row my-2">
    {% endif %}
    {% endfor %}
  </div>
</div>


{%endblock%}